<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
    <app-input-field label="Date Range">
      <date-range-picker fullWidth="true" [maxDate]="today" position="bottom-left" (dateRangeChange)="onDateRangeChange()" [(dateRange)]="eqBreakDownFilterGroup"></date-range-picker>
    </app-input-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
    <app-input-field label="Block">
      <app-combo-box dark="false" [dataSource]="blockList" [selected]="blockId" (selectedChange)="onBlockChange($event)"></app-combo-box>
    </app-input-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
    <app-input-field label="Level">
      <app-combo-box dark="false" [dataSource]="levelList" [selected]="levelId" (selectedChange)="onLevelChange($event)"></app-combo-box>
    </app-input-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
  <app-input-field label="Equipment Type">
    <app-combo-box dark="false" [dataSource]="eqType" [selected]="eqTypeId" (selectedChange)="onEquipmentTypeChange($event)"></app-combo-box>
  </app-input-field>
  </div>
  <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-2">
    <app-input-field label="Equipment Code">
      <app-combo-box dark="false" [dataSource]="eqCode" [selected]="eqCodeId" (selectedChange)="onEquipmentCode($event)"></app-combo-box>
    </app-input-field>
  </div>
  </div>
