<div class="page-container">
    <div class="logo-container">
        <img src="../../../assets/img/logo.png" alt="LOGO">
        <p>Azbil Singapore</p>
    </div>
    <div class="d-flex page-content">
       <div style="display: table; height: 100%;">
            <div class="maintain-text">
                <p class="page-sub-header">This site is currently</p>
                <p class="page-header">Under Maintenance</p>
                <p class="page-description">We are performing maintenance and upgrades to our site. this maintenance may effect our site and it's operations. we plan on this scheduled maintenance to be completed before the begining of business on <span class="highlight-date">{{ dueDate }}</span></p>
            </div>
       </div>
       <div style="display: table; ; height: 100%;">
            <div class="maintain-image">
                <img src="../../../assets/img/maintenance_img.png" alt="Under Maintenance">
            </div>
       </div>
    </div>
</div>