.row-limit {
    font-size: 14px;
}

.loading-area {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-icon {
    width: 75px;
    height: auto;
}