@import 'src/scss/_variables.scss';

table{
    border: 1px solid $bg-opt-one;
    border-radius: 3px;
    table-layout: fixed !important;
    th{
        background-color: $bg-opt-one;
        font-weight: 400;
        min-height: 100%;
    }
}

.scroll-tbody {
  overflow-y: auto;
}

@media all and (min-width: 1200px) {
  .table-width{
    width: 100%;
  }
}

@media all and (max-width: 1199px) {
  .table-width{
    width: 1140px;
  }

  .table-content{
    width: 100%;
    overflow-x: auto;
  }
}

