<div class="card  main-card-height">
        <div class="card-header p-0 pl-2 pr-3">
          <div class="d-none d-xl-block">
            <span class="d-inline-block pl-3 pt-3 pb-3 font-secondary">Water</span>
            <span class="tab-primary float-right font-primary" (click)="setTabIndex(1)" [ngClass]="{'active': tabIndex == 1}">Equipment Breakdown</span>
            <span class="tab-primary float-right font-primary" (click)="setTabIndex(0)" [ngClass]="{'active': tabIndex == 0}">Overview</span>
          </div>
          <div class="form-group row mb-0 row d-xl-none pr-2">
            <label class="col-6 col-sm-6 col-form-label">Water Dashboard</label>
            <div class="col-6 col-sm-6 pl-0 pr-0">
              <select (change)="setTabIndex($event.target.value)" [(ngModel)]="tabIndex" class="form-control mt-1 form-control-sm select-box-dark">
                <option value="0">Overview</option>
                <option value="1">Equipment Breakdown</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body h-100 card-scroll">

            <!-- tab index 0 -->
            <section *ngIf="tabIndex == 0">
            <div class="row ow-eq-height">
                <div class="col-md-4 p-1">
                <div class="chart-card h-100">
                    <div class="chart-card-header">
                        <span> Overall Consumption</span>
                        <date-range-picker [disabled] = "!isDone.overollConsumptionData" *ngIf="_reload" [maxDate]="today" class="d-none d-xl-block" position="bottom-right" [(dateRange)]="overollConsumptionRange" (dateRangeChange)="overollConsuptionChanged()"></date-range-picker>
                    </div>
                    <div class="chart-card-body p-0 position-relative">
                    <div class="row d-flex align-items-center justify-content-center h-100">
                        <div class="col-md-12 h-100 w-100">
                          <app-chart-loader [isDone] = "isDone.overollConsumptionData">
                            <app-data-pointer-none-image [color] = "this.colorMap.water.secondary" class="d-xl-none" [description]="'Total Consumption'" [pointerText]="overollConsumptionData"
                                              [unit]="'m<sup>3</sup>'" class="" type="m³"></app-data-pointer-none-image>
                          </app-chart-loader>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-md-8 p-1">
                <div class="chart-card h-100" id="30MinutConsumption">
                    <div class="chart-card-header">
                      <span class="header-title">30 min Consumption</span>
                      <div class="d-flex align-items-center">
                        <date-range-picker [disabled] = "!isDone.dailyConsumptionData" *ngIf="_reload" [maxDate]="_maxTodayConsumptionDate" [minDate] = "_minTodayConsumptionDate" class="d-none d-xl-block" (dateRangeChange)="onChangeTodayConsumption()"
                                            [(dateRange)]="_todayConsumptionDate"
                                            [isSingleDate]="'true'"
                                            position="bottom-right"></date-range-picker>
                          
                        <app-print-preview [className]="'position-gorelative'" [targetHtml] = "'30MinutConsumption'" [title]="'30 min Consumption'"></app-print-preview>
                      </div>
                    </div>
                    <div class="chart-card-body p-3 position-relative">
                      <app-total-comsumption [value] = "dailyConsumptionData.chart.total" [unit] = "'m<sup>3</sup>'" [type] = "'m3'"></app-total-comsumption>
                      <app-chart-loader [isDone] = "isDone.dailyConsumptionData">
                        <app-trend *ngIf="dailyConsumptionData" [dataSource]="dailyConsumptionData"></app-trend>
                      </app-chart-loader>
                    </div>
                </div>
                </div>
            </div>
            <div class="row ow-eq-height">
                <div class="col-md-4 p-1">
                <div class="chart-card h-100" id="equipmentdistribution">
                    <div class="chart-card-header">
                        <span class="header-title">Equipment Distribution</span>
                        <div class="d-flex align-items-center">
                          <date-range-picker [disabled] = "!isDone.equipDistribution" *ngIf="_reload" [maxDate]="today" class="d-block" (dateRangeChange)="equiDistributionChanged()"
                                             [(dateRange)]="equipmentDistRange"
                                             position="bottom-right"></date-range-picker>
                          
                          <app-print-preview [className]="'position-gorelative'" [targetHtml] = "'equipmentdistribution'" [title]="'Equipment Distribution'"></app-print-preview>
                        </div>
                    </div>
                    <div class="chart-card-body p-3 pie-chart-min-height position-relative">
                      <app-chart-loader [isDone] = "isDone.equipDistribution">
                        <app-pie *ngIf="equipDistribution" [dataSource]="equipDistribution"></app-pie>
                      </app-chart-loader>
                    </div>
                </div>
                </div>
                <div class="col-md-8 p-1">
                <div class="chart-card h-100" id="consumptionSummary">
                    <div class="chart-card-header">
                      <span class="header-title">Consumption Summary</span>
                      <div role="group" class="d-flex align-items-center" aria-label="Trend Log Modes">
                        
                        <div class="chart-card-header" style="margin-right: 10px;">
                          <span style="margin-right: 5px;">From:</span>
                          <date-range-picker [disabled] = "!isDone.trendLogData" *ngIf="_reload && !_isYear && !_isMonth"  class="" (dateRangeChange)="onChangeTrendLogByDate(true)" [maxDate] = "_maxDate"
                                              [(dateRange)]="_startDateTrendLog"
                                              [isSingleDate]="'true'"
                                              position="bottom-right"></date-range-picker>
                          <month-date-pciker [disabled] = "!isDone.trendLogData" *ngIf="(_reload && _isMonth) || (_reload && _isYear)" [isYear]="_isYear" [(dateRange)]="_startDateTrendLog" (dateRangeChange)="onChangeTrendLogByDate(true)" [maxDate] ="today" ></month-date-pciker>
                        </div>
                        <span>Last</span>
                        <button [disabled] = "!isDone.trendLogData" *ngFor="let item of _mapArrayTrendIndex" class="btn btn-primary btn-circle" [ngClass]="{'active': trendLogTabIndex == item.value}" (click)="setTrendLogData(item.value)">{{item.label}}</button>
                        <app-print-preview [className]="'position-gorelative'"  [targetHtml] = "'consumptionSummary'" [title]="'Consumption Summary'"></app-print-preview>

                        <!-- <button class="btn btn-primary btn-circle" [ngClass]="{'active': trendLogTabIndex == 0}" (click)="setTrendLogData(0)">7D</button>
                        <button class="btn btn-primary btn-circle" [ngClass]="{'active': trendLogTabIndex == 1}" (click)="setTrendLogData(1)">30D</button>
                        <button class="btn btn-primary btn-circle" [ngClass]="{'active': trendLogTabIndex == 2}" (click)="setTrendLogData(2)">12M</button>
                        <button class="btn btn-primary btn-circle" [ngClass]="{'active': trendLogTabIndex == 3}" (click)="setTrendLogData(3)">5Y</button> -->
                      </div>
                    </div>
                    <div class="chart-card-body p-3 position-relative">
                      <app-chart-loader [isDone] = "isDone.trendLogData">
                        <app-trend *ngIf="trendLogData" [dataSource]="trendLogData"></app-trend>
                      </app-chart-loader>
                    </div>
                </div>
                </div>
            </div>
            </section>
            <div class="row" *ngIf="tabIndex == 1">
                <div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-0">
                    <app-dynamic-date-label class="m-2" [dateRange]="equipmentBreakdownDateRange"></app-dynamic-date-label>
                    <app-data-table [isLoading]="tableLoading" [rows]="rows" [columns]="columns"></app-data-table>
                </div>
            </div>
            <div class="row pl-2 pr-2" *ngIf="tabIndex == 2">equipment-breakdown works!</div>
            <div class="row pl-2 pr-2" *ngIf="tabIndex == 4"><app-reports></app-reports></div>
        </div>
        </div>
